/* css styles */

.badge {
  border-radius: 15px;
  opacity: .75;
  text-decoration: none;
}

.badge {
  color: #EDE3DA !important;
}


.badge-blue {
  background: #4673B8;
}





.banner-title {
  font-size: 54px;
  margin-bottom: 10px;
}

.banner-text {
  font-size: 27px;
  margin-bottom: 20px;
}

.banner {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  font-weight: 400;
  color: #fff;
}


div.quarto-about-trestles .about-entity .about-link {
  border: none;
  font-size: 20pt;
  padding: 3pt;
  color: #354d72;
}

div.quarto-about-trestles .about-entity .about-link:hover {
  background-color: #354d72;
  color:#FDFBF7;
}


/* unvisited link */
a:not([class]):link {
  color: #376C98;
  text-decoration: none;
}

/* visited link */
a:not([class]):visited {
  color: #376C98;
  text-decoration: none;
}

/* mouse over link */
a:not([class]):hover {
  color: #2455CE;
  text-decoration: none;
}
  

